<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel ="stylesheet" href="images">
   <link rel ="stylesheet" href="css/style.css">
    

    <title>Document</title>
</head>
<body>
   
    {{>navbar}}


      <div class = "container-fluid main-header">
        <div class = "row">
            <div class = "col-md-10  col-12 mx-auto">

                <div class = "row">
                    <!-- left side div -->
                    <div class ="col-md-6 col-12 main_header_left">
                        <p>welcome to weather App</p>
                        <h1>get the latest <span>weather</span>Information of your city</h1>
                        <a href = "/weather" ><button class = "button">check now</button></a>
                    </div>

                    <!-- right side div -->

    
                      <div class="carousel-item active" style = " width:100px; height:100px;">
                                        <img  src="images/weather-app.png" alt="First slide">
                                      </div>
                        
                      

                    </div>
                </div>
            </div>
        </div>
  

    {{>footer}}
        
</body>
</html>